
/*-------Element style-------*/

* {
	box-sizing: border-box;
	
}

body {

	font-family: 'Open Sans', sans-serif;
   line-height: 1.4;
   text-align: center;
   background-color: lightgrey;
   font-weight: 500;


}

 img {
 	max-width:100%;
 } 


/*--------header-----*/

a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color:#000;
	padding: 1.2em;
}

a:hover {
	color: blue;
}

ul {
	list-style-type: none;
	padding-left: 0;
	
	}

.main-nav li {
	background-color: #fff;
	margin-bottom: 0.5em;
	margin-left:0;

}


/*-------main-container-------*/




/*------secondary-container-----*/

.secondary-container {
	background-color:#fff;
	padding-top: 0.5em;

}

/*-------third-container------*/

.third-container {
	margin: 2em auto;
	background-color: #fff;
	padding-top: 2em;
}







/*-------footer-----*/

.footer-container {
	border-top: 1px solid #000;
	padding-top: 0.5em;


}


.footer-name {
	float: left;
	font-size: 1.2em;
	
}


h4 {
	margin:0;
	padding: 0;

}

.footer-nav a {
	padding: 0;
	color: black;


}
 	
.footer-nav { 

float: right;


 }

 .footer-desktop {
 	display: none;
 }

 /* ---- Float clearfix ---- */

.clearfix::after {
   content: " ";
   display: table;
   clear: both;
}


 /*------media queries @ 768px-----*/

 @media (min-width:768px) {


 	/*------header----*/

 	.header-container {
 		margin: 0 auto;
 	

 	}

 	.main-nav li {
 		display: inline-block;
 		background-color: inherit;
 		margin:0 1.3em;
 	
	}

	/*------main-container------*/

	.main-container {
		text-align: left;
	

	}

	.profile-image {

		float: right;
	
	}

	/*-------secondary-container-----*/

	.secondary-container {
		margin-top: 1.2em;
	}

	
	.project {
    float: left;
    width: 50%;
    padding: 1em;
    margin-bottom: 0.5em;
  }


  /*--------Skills Section----*/

  .language {
   float: left;
   width: 46%;
   margin: 2%;
}	

/*-------info section-----*/

.info p {
	width: 50%;
	margin:auto;
}
	



	

/*------footer----*/

	.footer-nav {
		display: inline-block;
		margin-top:0;
		margin-left: 10em;

	}

	a:hover {
	color: blue;
}

	.footer-nav a {
		margin-left: 1.3em;
	}

	.footer-mobile {
		display: none;
	}

	
 }

/*-----media queries 1024px-----*/

@media(min-width: 1024px) {

/*------header----------*/

	.header-container {
		margin-top:1em;
	}

	.header-name {
		float:left;
		
	}

	a:hover {
	color: blue;
	}

	ul  {
		float: right;


	}

	/*------main-container-----*/

	.main-container {
		width:90%;
	}	


	/*------secondary-container-----*/
		

	.project {
		width: 33%;
		padding: 0.5em;
		vertical-align: top;
   		float: none;
    	display: inline-block;

	}

	/*------Skills Section----*/

	.language {
   float: left;
   width: 23%;
   margin: 1%;
}

	/*--------footer-------*/

		.footer-nav a {
		margin-left: 1.3em;
	}

	.footer-mobile {
		display: none;
	}

} 

 



 